/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Roboto;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */

/* Navigation section */
.top-navigation{
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
  
.top-navigation > .content {
  margin: 0 auto;
  width: 970px;
  height: 70px;
  
}

.content{
    padding: 0 15px;
    text-align: center;
}

.top-navigation .logo {
    height: 70px;
}

 .top-navigation .links {
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 16px;
  margin-top: 25px;
  -webkit-font-smoothing: antialiased;
   padding: 8px;
  
}

.top-navigation .links > li {
  display: inline-block;
  text-decoration: none;
  margin-left: 25px;
}

.top-navigation .links .active{
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}

.top-navigation .links a{
  text-decoration: none;
  color: #333333;
}



.masthead {
  background-position: 0 bottom; 
}

.introduction {
 background: 
 linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
  url('./images/selfie-girl.jpg');
 background-position: center bottom;
 background-repeat: no-repeat;
 background-size: cover;
 height: 45.938rem;
 overflow: auto;
 border-top: solid 1em  #F15A29;
}



.content {
  background-color: clear;
  color: white;
  text-align: center;
  padding: 0 0.938rem;
  margin: 0 auto;
}

/* push the h1 tag down */
.introduction h1{
  margin-top: 17.5rem;
  font-size: 3.125rem;
}

/*push the h3 tag down */
.introduction h3{
 margin-top: 1.25rem;
 font-size: 1.563rem;
}

.introduction h1, .introduction h3{
  color: #FFF;
  text-align: center;
  font-weight: 300;
}

.introduction .buttons{
  color: #FFF;
  margin-top: 1.563rem;
}

button{
  text-shadow: none;
  border-style: none;
  padding: 1rem 1.5rem;
  width: 16.688rem;
  background-color: #F15A29;
  border-color: #F15A29;
  text-shadow: none;
  border-radius: 4.5px;
  line-height: 1.33;
  font-size: 1.125rem;
  color: white;
  font-weight: 100;
  margin: 0 auto;
  display: block;
}

.introduction .buttons button:hover{
  background-color: #EC3E06;
  width: 16.688rem;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  padding: 1rem 1.5rem;
} 

.introduction .buttons a{
  text-decoration: none;
  font-size: 1.125rem;
  color: white;
}


.content h2{
  color: #DB636D;
  text-align: center;
  font-weight: 300;
  font-size: 2.254rem;
}


.content h2{
  margin-top: 4.0rem; 
}

.cases .devices{
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.cases hr{
  margin: 5em auto 1em auto;
  border-color: #ffffff;
}

.caption h3{
  color: #4c5058;
  font-size: 1.355rem;
 
}

.flex-item{
  box-sizing: border-box;
  margin: 0 auto;
  vertical-align: baseline;
  padding: 0;
  line-height: 35px;
  display: inline-block;
}

.cases{
  color: #DB636D;
}

.devices .flex-item {
  margin-top: 1.5rem
}

.social {
 list-style: none;
 padding-bottom: 9.375rem;
}

* push the footer h5 tag down */
.social h5{
  margin-top: 5rem;
  font-size: 3.125rem;
}

.content h5{
  margin-top: 2rem;
  color: #4c5058;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.content hr{
  color: #4c5058;
  text-align: center;
  margin-top: 2rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.content .icons li{
  margin-top: 2rem;
  list-style: none;
}

.social .icons >li {
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  margin: 1.25rem 5px;
  border: 1px solid #EAEBEC;
  padding: 0.625rem 0;
  text-align: center;

}

.social .twitter{
  color: #55ACEE;
}

.social .facebook{
  color: #4C66A4;
}

.social .instagram{
  color: #3F729B;
}

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.content .copy{
  margin-top: 2rem;
  text-align: center;
  color: #4c5058;
  font-size: 0.9rem;
}

.dottedoverlay{background: url("../images/gridtile_3x3.png");

  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 3;
  visibility: visible;
  opacity: 0.5;
  background-size: cover;
}





body{
  /*comment out the color once done */
  
  /* fonts and such */
  font-family: 'Roboto', sans-serif;
}
